.card-content
{
    width: 20%;

    display: flex;
    flex-direction: column;
    gap: 2px;
}

.card-figure
{
    position: relative;
}

.card-figure:hover
{
    border: 3px solid var(--background-color-header);
}

.card-figure-span-1
{
    color: var(--color-link);
    background-color: var(--background-color-header);
    width: 75px;

    position: absolute;
    top: 3px;
    right: 3px;

    padding: 5px 10px;
}

.card-banner
{
    letter-spacing: 1px;
    word-spacing: 1px;
    color: var(--color-link);
    background-color: var(--background-color-header);
    box-sizing: border-box;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    padding: 10px;
    border-radius: 0 0 5px 5px;
}

/* Character */

.card-character
{
    width: 95%;
    margin: auto;
}

.card-character-img
{
    width: 45%;
}

.card-character-value
{
    width: 55%;

    display: flex;
    flex-direction: column;
    gap: 2px;
}