##################################
# APPLICATION
##################################

APP_NAME=LoliSSR
APP_ENV=local

##################################
# ENVIRONNEMENT
##################################

APP_DEBUG=true
APP_BASE_URI=/lolissr

##################################
# INTERFACE
##################################

APP_PAGINATION=8

##################################
# BASE DE DONNÉES
##################################

DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASS=
DB_CHARSET=utf8mb4

##################################
# UPLOADS
##################################

UPLOAD_MAX_SIZE=5242880

UPLOAD_ALLOWED_EXT=jpg,jpeg,png,webp

UPLOAD_ALLOWED_MIME=image/jpeg,image/png,image/webp

##################################
# CACHE
##################################

CACHE_ENABLED=true
CACHE_TTL=300

##################################
# SAUVEGARDES
##################################

MYSQLDUMP_PATH=