##################################
# APPLICATION
##################################

APP_NAME=LoliSSR
APP_PAGINATION=8

##################################
# ENVIRONNEMENT
##################################

# local       = développement PC
# testing     = tests automatiques
# production  = site en ligne

APP_ENV=local

##################################
# LOCAL (DÉVELOPPEMENT)
##################################

APP_DEBUG=true
APP_BASE_PATH=/lolissr/

##################################
# TESTS
##################################

TESTS_ENABLED=false

TEST_POST_AJOUTER=true
TEST_POST_UPDATE=true

TEST_UPLOAD_MODE=true
TEST_UPLOAD_REAL=false

TEST_UPLOAD_DIR=tests/Http/tmp-uploads

TEST_AJAX_JSON=true
TEST_PAGINATION=true
TEST_ERRORS=true
TEST_AJAX_UPDATE=true

##################################
# PRODUCTION (SITE EN LIGNE)
##################################

# APP_ENV=production
# APP_DEBUG=false
# APP_BASE_PATH=/
# TESTS_ENABLED=false

##################################
# BASE DE DONNÉES
##################################

DB_HOST=localhost
DB_NAME=

DB_USER=
DB_PASS=

DB_CHARSET=utf8mb4

##################################
# UPLOAD
##################################

UPLOAD_MAX_SIZE=5242880

UPLOAD_ALLOWED_EXT=jpg,jpeg,png,webp

UPLOAD_ALLOWED_MIME=image/jpeg,image/png,image/webp

##################################
# CACHE
##################################

CACHE_ENABLED=true
CACHE_TTL=300