#################################
# ENVIRONNEMENT
#################################

.env
.env.*
!.env.example

#################################
# IMAGES
#################################

/public/images/*
!/public/images/.gitkeep

#################################
# CACHE
#################################

/storage/cache/*
!/storage/cache/.gitkeep

#################################
# SESSIONS
#################################

/storage/sessions/*
!/storage/sessions/.gitkeep

#################################
# LOGS
#################################

/storage/logs/*
!/storage/logs/.gitkeep

#################################
# BACKUPS
#################################

/storage/backups/*
!/storage/backups/.gitkeep

#################################
# RELEASES
#################################

/releases/

#################################
# TESTS
#################################

/tests/Http/reports/*
!/tests/Http/reports/.gitkeep

#################################
# DÉPENDANCES
#################################

/vendor/

#################################
# NOTES / TEMP
#################################

/notes.txt
/note.txt

#################################
# ARCHIVES
#################################

*.zip
*.rar
*.7z

#################################
# IDE
#################################

/.idea/
/.vscode/

#################################
# SYSTÈME D'EXPLOITATION
#################################

.DS_Store
Thumbs.db
desktop.ini