#################################
# ENVIRONNEMENT
#################################

.env
.env.*
!.env.example

#################################
# IMAGES
#################################

/public/images/**
!/public/images/.gitkeep

#################################
# NOTES / TEMP
#################################

notes.txt
note.txt

#################################
# CACHE
#################################

/storage/cache/**
!/storage/cache/.gitkeep

#################################
# SESSIONS
#################################

/storage/sessions/**
!/storage/sessions/.gitkeep

#################################
# LOGS
#################################

/storage/logs/**
!/storage/logs/.gitkeep

#################################
# BACKUPS
#################################

/storage/backups/**
!/storage/backups/.gitkeep

#################################
# TESTS
#################################

tests/Http/reports/

#################################
# DEPENDANCES
#################################

/vendor/

#################################
# EXPORTS / ARCHIVES
#################################

*.zip
*.rar

#################################
# SYSTEME D'EXPLOITATION
#################################

.DS_Store
Thumbs.db