### COMMANDS ###
# git add .
# git commit -m 'update'
# git push origin master

### CACHE ###
# clear cache
# git rm -r --cached .
# git add .

### HIDE ###
config.php
Core/Database.php
Core/Save/
public/images
notes.txt