includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 8

    paths:
        - App

    excludePaths:
        - vendor

    bootstrapFiles:
        - phpstan-bootstrap.php

    checkUninitializedProperties: true