<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true">

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">Config</directory>
            <directory suffix=".php">Controllers</directory>
            <directory suffix=".php">Core</directory>
            <directory suffix=".php">Models</directory>
        </include>

        <exclude>
            <directory>Core/Save</directory>
            <directory>Storage</directory>
            <directory>public</directory>
        </exclude>
    </source>

</phpunit>