.link-div
{
    width: 95%;

    margin: auto;
    padding: 30px 0;
    border: 2px solid black;
    border-radius: 2px;
}

.link-p
{
    margin-bottom: 10px;
}

.link-edit
{
    display: block;

    width: 100%;

    margin-top: 20px; /* ← espace au-dessus */

    padding: 14px;

    text-align: center;
    text-decoration: none;

    font-weight: bold;
    font-size: 15px;

    color: white;

    background: linear-gradient(
        135deg,
        #b32cff,
        #e04cff
    );

    border-radius: 8px;

    box-shadow:
        0 4px 10px rgba(0,0,0,0.3);
}

.link-edit:hover
{
    background: linear-gradient(
        135deg,
        #ff2cff,
        #ff6cff
    );

    transform: translateY(-2px);

    box-shadow:
        0 6px 14px rgba(0,0,0,0.4);
}