:root
{
    /* Font */
    --font-family: "Montserrat", "Open Sans", sans-serif;

    /* Main Blocs */
    --background-color-body: #ebebeb;
    --background-color-header: #CA33FF;
    --background-color-section: #71afcd;

    /* Link */
    --color-link: #ebebeb;

    /* Police */
    --color-white: #ffffff;

    /* Flash */
    --flash-active: #71afcd;
}