{% extends 'base.html.twig' %}

{% block title %}Password Reset{% endblock %}

{% block body %}

<article>

    <div class="form-last-div-space">
        <p>If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.</p>
        <p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
        <p class="padding-bottom-none">If you don't receive an email please check your spam folder.</p>
    </div>

    <div>
        <a class="a-button" href="{{ path('app_forgot_password_request') }}">Try again</a>
    </div>

</article>

{% endblock %}