/* =========================================
   AVATAR MODAL
========================================= */

.avatar-modal-grid
{
    display: grid;

    grid-template-columns:
        repeat(
            auto-fill,
            minmax(90px, 1fr)
        );

    gap: 1rem;

    margin-top: 1rem;
}

.avatar-modal-item
{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: .5rem;

    background: rgba(
        255,
        255,
        255,
        .04
    );

    border: 2px solid transparent;
    border-radius: 16px;

    cursor: pointer;

    transition: .2s;
}

.avatar-modal-item:hover
{
    border-color: var(--primary);

    background: rgba(
        255,
        255,
        255,
        .08
    );

    transform:
        translateY(-2px)
        scale(1.04);
}

.avatar-modal-item > img
{
    display: block;

    width: 84px;
    height: 84px;

    object-fit: contain;

    user-select: none;
    pointer-events: none;
}

/* =========================================
   FRAME MODAL
========================================= */

.avatar-modal-item .profile-customization-avatar
{
    --profile-avatar-size: 110px;

    margin: 0;

    flex-shrink: 0;
}

.frame-modal-item
{
    width: 150px;

    height: 150px;

    padding: 0;
}
