/* =========================================
   GLOBAL
   Styles de base du site
========================================= */

body
{
    font-family: var(--font-family-base);
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.5;
}

main
{
    min-height: calc(100vh - 80px);
}

h1,
h2,
h3,
h4,
h5,
h6
{
    color: var(--color-title);
    font-weight: 700;
}

p
{
    font-size: var(--font-size-base);
}

a
{
    color: inherit;
    text-decoration: none;
}

img
{
    display: block;
    max-width: 100%;
    height: auto;
}

button,
input,
textarea,
select
{
    font: inherit;
}

::selection
{
    background-color: rgba(123, 44, 255, 0.25);
}

.layout-container
{
    width: 95%;
    max-width: 1500px;
    margin: var(--space-xl) auto 0;
    padding-bottom: 80px;
}