/* =========================================
   GLOBAL
   Styles de base du site
   (après reset + variables)
========================================= */

/* corps du site */
body
{
    /* police globale */
    font-family: var(--font-family);

    /* fond global */
    background-color: var(--background-color-body);

    /* lisibilité du texte */
    line-height: 1.5;

    /* couleur texte par défaut */
    color: var(--color-text);
}

/* titres principaux */
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--color-title);
}

/* paragraphes */
p
{
    font-size: 1rem;
    line-height: 1.5;
}

/* liens */
a
{
    text-decoration: none;
    color: inherit;
}

/* images */
img
{
    display: block;
    max-width: 100%;
    height: auto;
}

/* conteneur principal des pages */
main
{
    min-height: calc(100vh - 80px);
}

/* sélection texte (petit bonus visuel) */
::selection
{
    background: rgba(123, 44, 255, 0.25);
}