::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-thumb
{
    background-color: var(--color-violet);
    border-radius: 10px;
}

::-webkit-scrollbar-track
{
    background-color: var(--color-background);
}

@supports (scrollbar-color: red blue)
{
    *
    {
        scrollbar-color: var(--color-violet) var(--color-background);
        scrollbar-width: auto;
    }
}

