/* =========================================
   SCROLLBARS
========================================= */

/* Chrome, Edge, Safari */
::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track
{
    background-color: var(--color-background);
}

::-webkit-scrollbar-thumb
{
    background-color: var(--color-violet);
    border-radius: 8px;
}

/* Firefox */
@supports (scrollbar-color: red blue)
{
    *
    {
        scrollbar-color: var(--color-violet) var(--color-background);
        scrollbar-width: thin;
    }
}