/* =========================================
   VARIABLES GLOBALES
========================================= */

:root
{
    /* =========================
       TYPOGRAPHIE
    ========================= */
    --font-family-base: "Montserrat", "Open Sans", sans-serif;

    /* =========================
       COULEURS DE BASE
    ========================= */
    --color-background: #ebebeb;
    --color-text: #1a1a1a;
    --color-title: #222222;

    /* =========================
       COULEURS PRINCIPALES
       À garder si utilisées ailleurs
    ========================= */
    --color-violet: #7b2cff;
    --color-flash-active: #71afcd;

    /* =========================
       GRADIENTS
       À garder si utilisés ailleurs
    ========================= */
    --gradient-violet:
        linear-gradient(
            135deg,
            #6b3fd6,
            #a06af3
        );

    /* =========================
       OMBRES
       À garder si utilisées ailleurs
    ========================= */
    --shadow-violet: rgba(123, 44, 255, 0.35);
    --shadow-violet-hover: rgba(123, 44, 255, 0.45);

   /* =========================
      ALERTES
   ========================= */

   --color-success: #1e7e34;
   --color-error: #c82333;
   --color-warning: #e0a800;
   --color-info: #17a2b8;

   --color-alert-text: #ffffff;
}