{% extends 'base.error.html.twig' %}

{% block title %}Page 403{% endblock %}

{% block body %}

<article>
    <h2 class="bold">403 Page Redirect</h2>
    <p class="padding-bottom-none">You can't access to this part.</p>
</article>

{% endblock %}