/* =========================================
   COPY TO CLIPBOARD
========================================= */

[data-copy]
{
    cursor: pointer;

    transition:
        color .2s ease,
        text-shadow .2s ease;
}

[data-copy]:hover
{
    text-shadow:
        0 0 8px
        rgba(123, 44, 255, .35);
}
